.main {
    position: relative;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('../images/preloader.gif');
    background-repeat:no-repeat; 
    background-color: #141625;
    background-position: center;
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}
  
.loaded .preloader {
    display: none;
}

body {
    background-color: rgba(31, 31, 45, 0.95);
    font-family: "ptrootui";
    font-weight: 400;
    font-style: normal;
    color: rgb(228, 228, 239);
    overflow-y: hidden;
    margin: 0;
}

#titlebar {
    display: block;
    position: fixed;
    height: 24px;
    width: 100%;
    background: rgba(31, 31, 45, 0.95);
    padding: 4px;
    color:#c4c3f4;
    top: 0px;
    z-index: 999;
 }

 #titlebar #drag-region {
    width: 100%;
    height: 32px;
    -webkit-app-region: drag;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    -webkit-app-region: no-drag;
}

#window-controls .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    user-select: none;
}

.window-hover:hover {
    background: rgba(255,255,255,0.1);
}
.window-hover:hover:active {
    background: rgba(255,255,255,0.2);
}

.window-hover-close:hover {
    background: #E81123 !important;
    box-shadow: 0 0 15px rgba(232, 17, 35, 0.8);
    border-radius: 2px;
}
.window-hover-close:active {
    background: #F1707A !important;
}
.window-hover-close:active .icon {
    filter: invert(1);
}

.mac-controls:hover .mac-hover{
    display: flex;
}
.mac-hover{
display: none;
}

#min-button {
    grid-column: 2;
}

#close-button {
    grid-column: 3;
}
  
#main {
    height: calc(100% - 24px);
    margin-top: 32px;
    overflow-y: auto;
}

textarea {
    color: rgb(213, 213, 232);
    background-color:rgb(32, 32, 32);
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-radius: 2px;
}

input {
    color: rgb(213, 213, 232);
    background-color:rgb(32, 32, 32);
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-radius: 2px;
}

.settings fieldset {
    width: 260px;
    margin: 15px auto 20px;
    padding: 20px 15px 0;
    text-align: center;
    border: 1px solid #7b7b7b66;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'ptrootui', woff;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgba(92, 89, 106, 0.196); 
    text-shadow: 1px 2px 3px black;
    color: rgb(228, 228, 239);
}
.authfieldset{
    background: url("../images/Auth.jpg") no-repeat;
    background-size:cover;
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
}
.authfieldset fieldset{
    width: 260px;
    margin: 90px auto;
    padding: 20px 15px ;
    text-align: center;
    background-color: rgba(92, 89, 106, 0.626);
    border: 1px solid #7b7b7bb7;
    text-shadow: 1px 2px 3px black;
    border-radius: 5px;
    color: rgb(228, 228, 239);
}

.settings textarea {
    margin: 0 0 10px;
}

.java {
    width: auto;
    margin: auto;
}

.java textarea {
    width: 620px;
    height: 60px;
}

button {
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-family: 'ptrootui', woff;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(213, 213, 232);
    font-weight: bold;
    font-size: large;
    transition: 0.5s;

    background: radial-gradient(
        rgba(45, 45, 65, 0.95),
        rgba(33, 33, 48, 0.95)
    );

    cursor: pointer;
}


button:hover {
    box-shadow: 0 0 15px rgba(148, 145, 186, 0.8);
    transition: 0.5s;
}

.settingsButton {
    margin-bottom: 10px;
}

.image{
    margin: 0 0;
    width: 100%;
    height: 290px;
    border-radius: 5px;
}

.settingsIndexButton {
    border-radius: 15px;
    position: absolute;
    width: 48px;
    height: 48px;
    background: url("../images/cogwheel.png") no-repeat;
    right: 15px;
    bottom: 15px;
}

.settingsIndexButton:hover {
    box-shadow: 0 0 15px rgba(108, 108, 108, 0.8);
}

.authfieldset legend { 
    font-size: 26px;
    font-family: 'ptrootui', woff;
    font-weight: bold;
    letter-spacing: 1px;
}

.authfieldset label { 
    font-size: 20px;
    font-family: 'ptrootui', woff;
    font-weight: bold;
    letter-spacing: 1px;
}

.play {
    width: 150px;
    height: auto;
    margin: 10px auto;
}

.play button {
    width: 150px;
    height: 50px;
}

p {
    margin: 0 0 10px;
}

.error a{
    font-size: 24px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 3px black;
    text-align: center;
    color: rgb(228, 228, 239);
    display: block;
    margin: 35% 0;
    padding: 0 15px;
    font-family: system-ui;
    text-decoration: none;
}
.error h4{
    font-size: 60px;
    font-family: 'GTA';
    font-weight: 400;
    margin: 200px auto;
    -webkit-text-stroke: 1px rgb(10, 11, 26);
    text-shadow: 1px 2px 3px black;
    letter-spacing: 2px;

}
.error {
    background: url("../images/pass.png") no-repeat;
    margin: 24px auto;
    text-align: center;
    text-decoration: none;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

@font-face {
    font-family: 'GTA'; /* Ваше название шрифта */
    src: url('../fonts/GTA.ttf') format('woff');
    font-weight: normal; /* Начертание по умолчанию */
    font-style: normal;
}

@font-face {
    font-family: 'minecraft'; /* Ваше название шрифта */
    src: url('../fonts/minecraft.ttf') format('woff');
    font-weight: normal; /* Начертание по умолчанию */
    font-style: normal;
}

@font-face {
    font-family: 'dimkin'; /* Ваше название шрифта */
    src: url('../fonts/Dimkin.ttf') format('woff');
    font-weight: normal; /* Начертание по умолчанию */
    font-style: normal;
}

@font-face {
    font-family: 'ptrootui'; /* Ваше название шрифта */
    src: url('../fonts/PT-Root-UI_Light.ttf') format('woff');
    font-weight: normal; /* Начертание по умолчанию */
    font-style: normal;
}

.progress-bar {
    width: 400px;
    height: 15px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    z-index: 999;
    position: absolute;
    top: 480px;
    left: 50px;
}

.progress-bar .fill {
    height: 100%;
    background-color: #2e0cc8;
    width: 0%; /* Start with 80% width for the pulse effect */
    transition: width 0.5s ease-in-out;
    animation: pulse 2.0s infinite; /* Infinite animation */
}

@keyframes pulse {
    0% {
      width: 60%;
    }
    50% {
      width: 90%;
    }
    100% {
      width: 60%;
    }
}

.load p {
    font-family: 'minecraft', woff;
    font-size: 24px;
    z-index: 999;
    position: relative;
    padding: 400px 0 0 100px;
    width: 600px;
}

.load img {
    position: absolute;
    width: 512px;
    height: 512px;
    z-index: 0;
}